*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0,0), rgba(0,0,0,0.75)), url(homeBack.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(29, 29, 29, 0.9);
}
.logo{
    width: 135px;
    height: 135px;
    cursor: pointer;
    margin-right: auto;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: xx-large;
}
.navbar ul li::after{
content: '';
height: 3px;
width: 0;
background: #ffffff;
position: absolute;
left: 0;
bottom: -10px;
transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.navbar p{
    background: linear-gradient(90deg,rgb(255, 0, 0), rgb(255, 157, 0), rgb(255, 225, 0), rgb(60, 255, 0), rgb(0, 64, 255), rgb(195, 0, 255));
    background-size: 400%;
    font-size: 35px;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    word-spacing: 1px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
    margin-right: auto;

}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff;
}

.content h1{
    font-size: 35px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.content p{
    margin: 40px auto;
    font-weight: 100;
    font-size: 25px;
    line-height: 35px;
    display: flex;
    justify-content: center;
}
button{
    width: 300px;
    padding: 15px 0;
    text-align: center;
    margin: 30px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ea00ff;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background:#6b0096;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

}
button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

#container{
    display: flex;
    align-items: center;

}

#container img{
    margin-right: 30px;
}

#gameButton button{
    width: 100px;
    
}
